table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

/* tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
} */

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
  /* width: 100%; */
}

.mat-row {
  background-color: #f0f8ff;
}

.mat-row .invoice-item-header {
  background-color: #ffffff;
}

.mat-row .secundario {
  background-color: #FAFDFF;
}

/* .mat-row .invoice-item-value {
  background-color: #FAFDFF;
  text-align: right;
} */

.mat-column-Valor {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-statusfactura {
  text-align: center;
  /* justify-content: flex-end; */
}

.mat-row:nth-child(4n-1), .mat-row:nth-child(4n) {
  background-color: #ffffff;
}

/* .mat-row:nth-child(2n),  .secundario {
  background-color: #ffffff;
} */

#botones{

  overflow-x: hidden !important;
}




