
<div class="column  mb-3">

  <!-- todo colocar GetPendingInvoice -->
  <button type="button" class="mr-1" mat-raised-button color="primary" (click)="obtenerFacturas()">Obtener Facturas</button>
  <button type="button" class="mr-1" mat-raised-button color="primary"  (click)="html()"><a routerLink="/inicio/resultado" target="_blank">Obtener html</a></button>
  <button type="button" *ngIf="isModify" class="mr-1  float-end" mat-raised-button color="primary" (click)="GenerateInvoiceAcconting('CP')">Proyectar</button>
  <button type="button" *ngIf="isModify" class="mr-1  float-end" mat-raised-button color="primary" (click)="GenerateInvoiceAcconting('CN')">Contabilizar</button>
  <button type="button" *ngIf="isModify" class="mr-1  float-end" mat-raised-button color="primary" (click)="GenerateInvoiceAcconting('PP')">Presupuestar</button>
</div>

<table *ngIf="facturacion.length > 0" mat-table [dataSource]="facturacion" class="mat-elevation-z8" multiTemplateDataRows>

<!--  -->

<ng-container matColumnDef="select">
  <th mat-header-cell *matHeaderCellDef>
    <mat-checkbox  (change)="seleccionarTodos($event)">
    </mat-checkbox>
  </th>
  <td mat-cell *matCellDef="let row; let i = index;">
    <mat-checkbox [checked]="todos" (change)="onChange($event,row)"
    >
    </mat-checkbox>
  </td>
</ng-container>

<ng-container matColumnDef="No">
  <th mat-header-cell *matHeaderCellDef> No </th>
  <td mat-cell *matCellDef="let element"> {{element.factura_id}} </td>
</ng-container>

<ng-container matColumnDef="Fecha Vencimiento">
  <th mat-header-cell *matHeaderCellDef> Fecha Facturación </th>
  <td mat-cell *matCellDef="let element"> {{element.fechafacturacion}} </td>
</ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="Cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.cliente_nombre}} <br> [{{element.v_neto_factura | currency}}]</td>
  </ng-container>

  <ng-container matColumnDef="Version">
    <th mat-header-cell *matHeaderCellDef> Fecha Generación </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_generacion}} </td>
  </ng-container>

  <ng-container matColumnDef="Factura">
    <th mat-header-cell *matHeaderCellDef> Factura DIAN </th>
    <td mat-cell *matCellDef="let element"> {{element.factura_dian}} </td>
  </ng-container>

  <ng-container matColumnDef="Concepto">
    <th mat-header-cell *matHeaderCellDef> Frontera </th>
    <td mat-cell *matCellDef="let element"> {{element.frontera}}  </td>
  </ng-container>

  <ng-container matColumnDef="Municipio">
    <th mat-header-cell *matHeaderCellDef> Municipio </th>
    <td mat-cell *matCellDef="let element"> {{element.municipio_id}} - {{element.municipio_nombre}} - {{element.departamento_nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="statusfactura">
    <th mat-header-cell *matHeaderCellDef> Estado Factura </th>
    <td mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.ultimo_error !==''" class="material-symbols-outlined" style="color: red;" >
      warning
    </mat-icon>   </td>
  </ng-container>

  <ng-container  matColumnDef="Estado">
    <th  mat-header-cell *matHeaderCellDef  >Opciones</th>
    <td  mat-cell *matCellDef="let element; let i = index;" >

        <button *ngIf="element.avance && isModify" mat-icon-button [matMenuTriggerFor]="menu" (click)="ObtenerOpcionesMenu(element)" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

         <mat-menu #menu="matMenu"  >
          <span mat-menu-item ngClass="badge bg-success" (click)="obtenerErrorFactura(element)" ><i class="bi bi-check-circle me-1"></i>Estado</span>
         </mat-menu>

    </td>

  </ng-container>

  <ng-container matColumnDef="getdetails">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); obtenerItems(element)">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <div *ngIf="element.factura_dian === expandedSymbol">

             <table mat-table [dataSource]="facturaItems" class="invoice-item-header">

              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef class="invoice-item-header"> Id. </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="secundario"> {{i+1}} </td>
              </ng-container>


              <!-- Weight Column -->
              <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef class="invoice-item-header"> Descripción </th>
                <td mat-cell *matCellDef="let element" class="secundario"> {{element.description}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Valor">
                <th mat-header-cell *matHeaderCellDef  class="invoice-item-header"> Valor </th>
                <td mat-cell *matCellDef="let element"  class="secundario" > {{ element.value | currency}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;  let i = index"></tr>
             </table>
          </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="toggleExpandableSymbol(element.cliente_nombre)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = index " class="example-detail-row"></tr>
</table>
