table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

/* tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
} */

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
  /* width: 100%; */
}



.mat-row {
  background-color: #7d8bdd;
}
.mat-row .secundario {
  background-color: #b0b8e9;
}

.mat-row:nth-child(4n-1), .mat-row:nth-child(4n) {
  background-color: #ffffff;
}


/* .mat-row:nth-child(2n),  .secundario {
  background-color: #ffffff;
} */


