table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

/* tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
} */

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
  /* width: 100%; */
}



 .mat-row {
  background-color: #f0f8ff;
}

.invoice-item-value{
  text-align: right;
}

.mat-column-Valor {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-FechaIngreso {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-suggestedValue {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-value {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-pendingValue {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-appliedValue {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-incomingValue {
  text-align: right;
  justify-content: flex-end;
}
/*
.mat-row .secundario {
  background-color: #5065d8;
}

.mat-row:nth-child(4n-1), .mat-row:nth-child(4n) {
  background-color: #ffffff;
} */


/* .mat-row:nth-child(2n),  .secundario {
  background-color: #ffffff;
} */
.guardar{
  background-color: rgb(144, 144, 208);
}
.confirmar{
background-color: rgb(102, 146, 102);
}

input[type=number] {
  text-align:right;
}
