



<table  mat-table [dataSource]="facturacion" class="mat-elevation-z8" multiTemplateDataRows>

<!--  -->
<ng-container matColumnDef="Cliente">
  <th mat-header-cell *matHeaderCellDef> Cliente </th>
  <td mat-cell *matCellDef="let element"> <h2>{{element.group_ids}}</h2>  </td>
</ng-container>




  <ng-container matColumnDef="getdetails">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation();obtenerItems(element)">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <!-- <div *ngIf="element === expandedSymbol">

             <h3>Hola</h3>

          </div> -->

          <!-- <strong>{{detalleEmpresa.totalInvoice |number}}</strong> -->
          <!-- <strong>{{detalleEmpresa.totalPayment | number}}</strong>
          <strong>{{detalleEmpresa.difference | number}}</strong> -->
          <h4><strong>Pagos Realizados</strong></h4>
          <div class="d-flex bd-highlight" *ngIf="detalleEmpresa">
            <div class="p-2 flex-fill bd-highlight"> total Facturas : {{detalleEmpresa.totalInvoice |number}}</div>
            <div class="p-2 flex-fill bd-highlight">Total Pagos : {{detalleEmpresa.totalPayment | number}} </div>
            <div class="p-2 flex-fill bd-highlight">Diferencia : {{detalleEmpresa.difference | number}} </div>
            <!-- <div class="p-2 flex-fill bd-highlight">Sumatoria : {{sumatoria | number}} </div> -->
          </div>

          <table *ngIf="detallPagos" mat-table [dataSource]="detallPagos" class="secundario" >

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox  hidden>
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                <mat-checkbox [checked]="selected === i" (change)="onChange($event,row,i)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Consecutivo">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Consecutivo </th>
              <td mat-cell *matCellDef="let element; " class="secundario"> {{element.consecutive}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Codigo </th>
              <td mat-cell *matCellDef="let element" class="secundario"> {{element.code }} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Valor">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Valor </th>
              <td mat-cell *matCellDef="let element" class="secundario  "> {{element.paymentValue |number}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="FechaIngreso">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Fecha de Ingreso </th>
              <td mat-cell *matCellDef="let element" class="secundario"> {{element.fechaRecaudo | date:'YYYY/MM/dd' }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;  let i = index"></tr>
           </table>
           <br>

          <app-detalle-factura [detallFacturas]="detallFacturas" [payments]="payments" ></app-detalle-factura>

      </div>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="getdetails">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element; columns: ['expandedDetail']"> <button mat-icon-button color="primary" (click)="getRecord(element)">
      <mat-icon class="material-symbols-outlined">
        expand_more
        </mat-icon>
    </button>
  </td>
  </ng-container> -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="toggleExpandableSymbol(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>




  </table>

