 <table mat-table *ngIf="detallFacturas.length > 0" [dataSource]="detallFacturas" class="secundario" multiTemplateDataRows>

            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Descripcion </th>
              <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElementDetalle = expandedElementDetalle === element ? null : element); $event.stopPropagation();hola(element)">
                  <mat-icon *ngIf="expandedElementDetalle !== element">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="expandedElementDetalle === element">keyboard_arrow_up</mat-icon>
                </button>
                {{element.description}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Acciones </th>
              <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
                <button mat-raised-button class="guardar" (click)="SaveLoadedInvoices(element)">Guardar</button>
                <button mat-raised-button class="confirmar" (click)="GeneratePayableAcconting(element)">Confirmar</button>
              </td>
            </ng-container>


            <ng-container matColumnDef="expandedDetailFactura">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsFacturasdetalleWithExpand.length">
                <div class="example-element-detail" [@expandedDetailFactura]="element == expandedElementDetalle ? 'expanded' : 'collapsed'">
                  <table mat-table  [dataSource]="element.detail" multiTemplateDataRows>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Descripcion </th>
              <td mat-cell *matCellDef="let element; let i = index;" class="secundario"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Valor </th>
              <td mat-cell *matCellDef="let element; let i = index;" class="secundario"> {{element.value | number}} </td>
            </ng-container>

            <ng-container matColumnDef="suggestedValue">
              <th mat-header-cell *matHeaderCellDef class="secundario"> Valor Sugerido </th>
              <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
                <input type="number" [(ngModel)]="element.suggestedValue" value="{\\{element.suggestedValue | number }\\">
              </td>
            </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturasdetalle"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFacturasdetalle;  let i = index"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetailFactura']" class="example-detail-row"></tr>
                  </table>
                </div>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturas"></tr>
            <tr mat-row *matRowDef="let row ; columns: displayedColumnsFacturas;  let i = index"></tr>



           </table>
