


 <h4 *ngIf="detallFacturas.length > 0" ><strong>Facturas</strong></h4>
<table  mat-table *ngIf="detallFacturas.length > 0" [dataSource]="detallFacturas" class="secundario" multiTemplateDataRows>



  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef class="secundario"> Descripcion </th>
    <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
      {{element.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="secundario"> Acciones </th>
    <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
      <button mat-raised-button class="guardar" (click)="SaveLoadedInvoices(element)">Guardar</button>
      <button mat-raised-button class="confirmar" (click)="GeneratePayableAcconting(element)">Confirmar</button>
    </td>
  </ng-container>





    <!-- <ng-container matColumnDef="getdetails">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">

      </td>
    </ng-container> -->

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

             <table  mat-table  [dataSource]="element.detail" >

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox  hidden>
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row; let i = index;">
                  <mat-checkbox  (change)="onChange($event,row)"
                  >
                  </mat-checkbox>
                </td>
              </ng-container>


              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="secundario"> Descripcion </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="secundario"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef class="secundario"> Valor </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="secundario"> {{element.value | number}} </td>
              </ng-container>

              <ng-container matColumnDef="suggestedValue">
                <th mat-header-cell *matHeaderCellDef class="secundario"> Valor Sugerido </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="secundario">
                  <input type="number" [(ngModel)]="element.suggestedValue" value="{\\{element.suggestedValue | number }\\">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturasdetalle"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFacturasdetalle;  let i = index"></tr>
             </table>



        </div>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="getdetails">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element; columns: ['expandedDetail']"> <button mat-icon-button color="primary" (click)="getRecord(element)">
        <mat-icon class="material-symbols-outlined">
          expand_more
          </mat-icon>
      </button>
    </td>
    </ng-container> -->







    <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturas"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsFacturas;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
       >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>




    </table>

